h1 {
    color: black;
    margin-bottom: 50px;
    font-size: 60px;
  }

  aside {
      text-align: right;
    

  }

  header {

    text-align: center;
  }

  /* Red border */
hr {
    border-top: 1px solid rgba(155, 247, 155, 0.973);
  }

  body {
    margin-top: 1em;
    margin-right: 2em;
    margin-bottom: 3em;
    margin-left: 2em;        /* copied from opposite side (right) */
    background-color: crimson;
  }

  #bottombox {
    border-style: solid;
    background-color: rgba(155, 247, 155, 0.973);
    margin-right: 10%;
    margin-left: 10%;
  }

  footer {
   
    text-align: end;
    color: rgb(146, 144, 144);
  }

  ul{
    margin:0 0 1em 15px;
    padding: 0;
    list-style-position: inside;
  }

  #topcontainer  {
    display: flex;
    justify-content: space-between;
    
  }

h1 { 
  color: black; 
  background: white; 
  border: solid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 2px 2px;
}

h2 { 
  color: black; 
  text-decoration: underline;;
}

#projects { 
  color:black; 
  background: lightslategray; 
  border: solid;
  padding-bottom: 10px;
  padding-top: 0px;
  margin-bottom: .5%;
}
img {
  width: 50%;
  height: 30%;
}
